.mod_nlsh_guestbook {

}

.mod_nlsh_guestbook h1, h2, h3, h4, h5, h6{
    color: #FFA449;
    text-align: center;
}

.mod_nlsh_guestbook .countcommentstext{
    text-align: center;
}

.mod_nlsh_guestbook .pagination,
.mod_nlsh_guestbook .pagination a {
    color: #80A0FF;}

.mod_nlsh_guestbook .linknewentrie{
    text-decoration:none;
    color: #80A0FF;
}

.mod_nlsh_guestbook .pagination p{
    display: inline;
}

.mod_nlsh_guestbook .pagination li{
    float: left;
    padding-left: 1em;
}

.mod_nlsh_guestbook .pagination ul{
    float: right;
    margin-bottom: 0px;
}

.mod_nlsh_guestbook .odd{
    background-color: #EFEFEF;
}

.mod_nlsh_guestbook .widget,
.mod_nlsh_guestbook .bbcode,
.mod_nlsh_guestbook .smilies,
.mod_nlsh_guestbook .countcommentstext,
.mod_nlsh_guestbook .pagination,
.mod_nlsh_guestbook .htmllinknewentrie,
.mod_nlsh_guestbook .fullcomment,
.mod_nlsh_guestbook .comment,
.mod_nlsh_guestbook .headlinecomment {
    margin: 10px 10px 20px;
    padding-left: 10px;
}

.mod_nlsh_guestbook .info {
    margin-bottom: 0px;
}

.mod_nlsh_guestbook .headlinecomment{
    font-weight: bold;
    margin-left: 0;
    padding-left: 0;
}

.mod_nlsh_guestbook .nr {
    color: #FFa449;
    margin-right: .5em;
}

.mod_nlsh_guestbook .quote{
    border: 1px solid black;
    padding: 10px;
}

.mod_nlsh_guestbook .quote p{
     font-weight: bold;
     margin-bottom: 0.5em;
}
